# Python
__pycache__/
*.pyc
.pytest_cache/

# Virtual environments
.venv/
venv/

# IDE
.idea/
.vscode/

# Environment / Secrets
.env

# Test Reports
allure-results/
allure-report/
test-results/
pytest-results.xml

# Logs
*.log

# OS
.DS_Store
Thumbs.db
